<div id="header" class="u-full-width">
  <h1 id="title" class="u-pull-left">ACS</h1>
  <ul class="u-pull-right">
    <li><a href="/" class="selected">Encryption</a></li>
    <li><a href="#"></a></li>
  </ul>
</div>
