<div class="tab-pane" id="vault">
  <div class="form-container row">
    <div class="six columns">
      <form id="vault_form" name="vault_form" enctype="multipart/form-data">
        <textarea id="vault_secret" name="vault_secret" autocomplete="off" rows="20" cols="40" maxlength="1024" required></textarea>
        <input class="button-primary" id="vault_secret_submit" type="submit" value="Submit secret" onclick="return false" />
      </form>
    </div>
  </div>
</div>
