<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <p id="tagline">Welcome to <%= title %>, please supply your secret.</p>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <% include ./partials/tabs %>

          <div class="tab-content">
            <% if (backends.vault) { %>
              <% include ./partials/vault %>
            <% } %>
            <% if (backends.kms) { %>
              <% include ./partials/kms %>
            <% } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <p id="alert" class="alert-error hidden"></p>
          <pre>
            <code class="hidden" id="response"></code>
          </pre>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var backends = <%- JSON.stringify(backends) %>;
      Object.keys(backends).forEach(function(el) {
        if(!backends[el]) {
          delete backends[el];
        }
      });
      backends = Object.keys(backends);
    </script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
