body {
  background-color: rgba(228,234,238,0.2);
}

a {
  color: #00B7FF;
}

.hidden {
  display: none !important;
}

.selected {
  color: #bbb !important;
}

div#header {
  height: 60px;
  background-color: #333;
  padding-left: 10px;
}

#header ul {
  display: inline;
}

#header ul li {
  float: left;
  padding: 20px 10px;
}

#header ul li a {
  font-size: 15px;
  color: #999;
  text-decoration: none;
}

#header ul li a:hover {
  color: #eee !important;
}

h1#title {
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  width: 100px;
}

p#tagline {
  margin-top: 50px;
}

div.form-container {
  height: 310px;
  position: relative;
}

textarea[name=vault_secret], textarea[name=kms_secret] {
  height: 240px;
}



div.form-container input[type=submit] {
  bottom: 0px;
  left: 0px;
}

/* ALERTS */
.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

/* TAB BAR */
ul.tab-nav {
    list-style: none;
    border-bottom: 1px solid #bbb;
    padding-left: 5px;
}

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li p.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    border-bottom: none;
}

ul.tab-nav li p.active.button {
    border-bottom: 1px solid #fff;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}

pre code {
 float: left;
 clear: both;
}
