.alert {
  display: inline-block;
  padding: 20px;
  border-left: 5px solid;
  white-space: pre-wrap;
  width: 100%;
}

.alert-success {
  background-color: #D5F5E3;
  border-left-color: #2ECC71;
  color: #2ECC71;
}

.alert-info {
  background-color: #D6EAF8;
  border-left-color: #3498DB;
  color: #3498DB;
}

.alert-warning {
  background-color: #FCF3CF;
  border-left-color: #F1C40F;
  color: #F1C40F;
}

.alert-error {
  background-color: #F2D7D5;
  border-left-color: #C0392B;
  color: #C0392B;
}

.alert-wrapper {
  width: 100%;
  overflow: auto;
  font-size: 13.5px;
  background: #F1F1F1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.response > pre {
  position: relative;
  padding: 10px 0;
  margin: 0;
}

.response > h5 {
  margin-bottom: 5px;
}

.response > * {
  margin-bottom: 10px;
}

.response .clipboard {
  position: absolute;
  height: 34px;
  width: 34px;
  top: 10px;
  right: 0;
  border: 1px solid #D1D1D1;
  -webkit-border-radius: 0 4px;
  -moz-border-radius: 0 4px;
  border-radius: 0 4px;
}

.rc-tooltip-inner {
  min-height: 20px;
}
